.wrapper_full_form{
    width: 47.4%;
}

.previous-step{
    cursor: pointer;
}
.active{
    color: red;
}
.n{
    color: green;
}

/* .form-upload .MuiButton-containedPrimary{
    color: #fff;
    background-color: #476afe;
    width: 100px;
    height: 36px;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 12px;
} */
.form-upload__helper{
    position: relative;
}
.form-next {
    position: absolute;
    top:35px;
    right: 0px;
    width: 100%;
}

.form-upload{
    position: relative;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn--browse{
    padding: 12px 14px;
    color: #fff;
    background-color: #476afe;
    width: 100px;
    height: 36px;
    position: absolute;
    border-radius: 8px;
    top: 15px;
    right: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'GTWalsheimProBold';
    cursor: pointer;
    z-index: 9;
}

.form-upload__helper input{
    border-radius: 8px;
    background-color: #ffffff;
    padding: 27px 22px;
    border: none;
    width: 100%;
    margin-bottom: 32px;
    outline: none;
    position: absolute;
    top: 7px;
}

.f-input{
	height: 42px;
	width: 100%;
	max-width: 400px;
	float: left;
	padding: 0 14px;
}

@media(max-width: 1300px){
    .wrapper_full_form{
        width: 52.4%;
    }
}

@media screen and (max-width: 1024px){
    .wrapper_full_form{
        margin-top: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    .wrapper_full_form{
        margin-top: 0px;
    } 
}