.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    background-color: #fafafa;
}

.discount_header{
    background-color: #2ef893;
    min-height: 58px;
    display: flex;
    align-items: center;
    margin-bottom: 37px;

}

.discount_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount_info{
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.6px;
    font-family: "GTWalsheimProBold";
    padding: 15px 0px;
}

.icon_discount{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon_close{
    max-width: 13px;
    height: auto;
}

.header_menu{
    display: flex;
    justify-content: space-between;
}

.navigation{
    min-width: 550px;
}

.header_item a{
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.header_item a:hover{
    color: #2a62ff;
    transition: 0.3s;
}
.logo{
    transform: rotate(-5deg);
}

.logo a{
    color: #000000;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.6px;
    text-decoration: underline;
    font-weight: 400;
    text-decoration: underline;
    outline: none;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.button_start.MuiButton-containedPrimary{
    background-color: #4b6fff;
    border-radius: 6px;
    text-transform: none;
    padding: 10px 37px 12px;
    color: #ffffff;
    font-family: "GTWalsheimProBold";
    font-size: 20px;
    letter-spacing: 0.6px;
    /* max-width: 170px; */
    max-height: 58px;
}

.kiss_icon{
    max-width: 18px;
    height: auto;
}

.mobile-menu{
    display: none;
}

@media(max-width: 1024px){
    .discount_info{
        font-size: 18px;
    }
    .navigation {
        min-width: 480px;
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-contained.button_start.MuiButton-containedPrimary{
        font-size: 16px;
    }
}

@media screen and (max-width: 765px){
    .discount_info{
        font-size: 14px;
    }
    .header_menu li:first-child{
        display: block !important;
    }
    .header_menu li,
    .header_menu .MuiButtonBase-root.MuiButton-root.MuiButton-contained.button_start.MuiButton-containedPrimary{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu h1 {
        position: fixed;
        top: 40px;
        left: 40px;
        z-index: 6;
        font-size: 20px;
        font-weight: 900;
        font-family: sans-serif;
        text-transform: uppercase;
   }
    .mobile-menu h1 > span {
        text-transform: none;
        opacity: 0.5;
        font-weight: 300;
        font-size: 12px;
   }
    .mobile-menu input + label {
        position: absolute;
        top: 90px;
        right: 40px;
        height: 20px;
        width: 22px;
        z-index: 5;
   }
    .open{
        position: fixed !important;
        top: 50px !important;
   }
    .mobile-menu input + label span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: #020304;
        transition: 0.5s;
   }
    .mobile-menu input + label span:first-child {
        top: 3px;
   }
    .mobile-menu input + label span:last-child {
        top: 16px;
   }
    .mobile-menu label:hover {
        cursor: pointer;
   }
    .mobile-menu input:checked + label span {
        opacity: 0;
        top: 50%;
   }
    .mobile-menu input:checked + label span:first-child {
        opacity: 1;
        transform: rotate(405deg);
   }
   .mobile-menu input{
       display: none;
   }
    .mobile-menu input:checked + label span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
   }
    .mobile-menu input ~ nav {
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        transition: 0.5s;
        transition-delay: 0.5s;
        overflow: scroll;
   }
    .mobile-menu input ~ nav > ul {
        position: absolute;
        top: 3%;
        left: 0%;
        right: 0%;
        padding-bottom: 50px;
   }
   .header .mobile-menu ul li:first-child{
        text-align: left;
   }
    .mobile-menu input ~ nav > ul > li {
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0s;
   }
    .mobile-menu input ~ nav > ul > li > a {
        text-decoration: none;
        color: #020304;
        font-family: 'GTWalsheimPro';
        display: block;
        padding: 25px;
   }
    .mobile-menu input:checked ~ nav {
        height: 100%;
        transition-delay: 0s;
   }
    .mobile-menu input:checked ~ nav > ul > li {
        opacity: 1;
        transition-delay: 0.5s;
        text-align: center;
   }
    .discount_info span{
        display: block;
    }
    .mobile-foor{
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        margin: 20px auto 50px;
    }
    .mobile-menu input:checked ~ nav > ul > li > span{
        color: #919eab;
        font-family: 'GTWalsheimPro';
        font-size: 16px;
        font-weight: 700;
    }
    .discount_header .container{
        padding: 0px 0px 0px 27px;
    }
}
@media(max-width: 520px){
    .navigation{
        min-width: unset;
    }
    .discount_info{
        padding: 26px 0px 18px;
    }
    .discount_info span{
        margin-top: 7px;
    }
    .discount_header{
        margin-bottom: 27px;
    }
    .header_menu li:first-child img{
        width: 85px;
    }
    .mobile-menu input + label {
        top: 110px;
        right: 29px;
        width: 25px;
    }
    .mobile-menu input ~ nav > ul > li > a{
        font-size: 14px;
        padding: 20px 0px;
    }
    .header .MuiButtonBase-root.MuiButton-root.MuiButton-contained.button_start.MuiButton-containedPrimary{
        font-size: 20px;
        margin: 10px 0px;
        font-family: 'GTWalsheimPro';
    }
    .header .mobile-menu ul li:first-child img{
        width: 100px;
        margin: 0px 30px;
    }
    .mobile-menu input:checked ~ nav > ul > li > span{
        font-size: 10px;
    }
}
@media screen and (max-width: 480px){
    .discount_info{
        font-size: 10px;
        letter-spacing: 0.3px;
        max-width: 260px;
    }
    .discount_info span{
        display: block;
    }
}